/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

body {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: white;
    position: fixed;
    padding-top: 20px;
    transition: all 0.3s;
}

    .sidebar a {
        color: white;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        text-decoration: none;
    }

        .sidebar a span {
            margin-left: 10px;
        }

        .sidebar a:hover {
            background-color: #495057;
        }

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s;
}

.collapsed {
    width: 60px;
    overflow: hidden;
    padding: 20px 0;
}

    .collapsed a span,
    .collapsed h4 {
        display: none;
    }

    .collapsed + .content {
        margin-left: 60px;
    }